body
{
background-image:url('http://www.u.arizona.edu/~milazzom/cscv337sp14/hw2/background.png');
margin:0px;
}

#banner
{
background-image:url('http://www.u.arizona.edu/~milazzom/cscv337sp14/hw2/bannerbackground.png');
text-align:center;
}

h1
{
font-weight:bold;
font-size:24px;
text-align:center;
}

dl
{
font-family:Arial;
font-size:8px;
width:230px;
padding:10px;
height: 1000px;
margin:0;
clear:right;
}

#mainBox
{
margin:auto;
width:800px;
border:5px solid gray;
overflow: hidden;
}

#mainBox .right-col {
	float:right;
	margin:0;
	float: right;
	background-color:#A2B964;
}

#mainBox .box
{
font-size:8px;
border:2px solid gray;
background-color:#E1D697;
padding:8px;
}

#mainBox .critic
{
font-style:italic;
font-size:8px;
}

#left-col {
width: 550px;
}

#mainBox .column
{
float: left;
width: 47%;
margin-left: 2%;
}

#mainBox .results
{
clear: both;
text-align: center;
margin: 0;
}

#top
{
background-image:url('http://www.u.arizona.edu/~milazzom/cscv337sp14/hw2/rottenbackground.png');
width:550px;
font-size:48pt;
color:red;
}